.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/default.png") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page.sunshine::before {
  background-image: url("../images/sunny-1.png");
  background-size: cover;
}

.page.rain::before {
  background-image: url("../images/rain.png");
  background-size: cover;
}

.page.clear::before {
  background-image: url("../images/clear.png");
  background-size: cover;
}

.page.mist::before {
  background-image: url("../images/mist.png");
  background-size: cover;
}

.page.haze::before {
  background-image: url("../images/haze.png");
  background-size: cover;
}
.page.fog::before {
  background-image: url("../images/fog.png");
  background-size: cover;
}

.page.clouds::before {
  background-image: url("../images/clouds.png");
  background-size: 100% 100%;
}

.page.snow::before {
  background-image: url("../images/snow.png");
  background-size: cover;
}

.page.drizzle::before {
  background-image: url("../images/snow.png");
  background-size: cover;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

/* Media queries for tablet screens */
@media (max-width: 768px) {
  .page {
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* Media queries for mobile screens */
@media (max-width: 480px) {
  .page {
    font-size: 14px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 320px) {
  .page {
    font-size: 14px;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
